* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #020631;
  }
  
  .app {
    position: absolute;
    top: 10%;
    left: 46%;
    transform: translate(-50%, -10%);
    display: flex;
    border-style: double;
    border-color: white;
    padding: 3rem;
  }

  .firstPart{
    margin-right: 3rem;
  }
  .secondPart{
    margin-left: 3rem;
  }
  
  .firstPart .mainHeading h1 {
    text-align: center;
  }
  
  .app h1,
  h2 {
    color: white;
  }
  
  .firstPart .input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .firstPart .input {
    margin-top: 0.8em;
    width: 20em;
    height: 2em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
  }
  
  .firstPart .input input {
    width: 100%;
    height: 1.6em;
    border-color: transparent;
    outline-color: transparent;
  }
  
  .firstPart i {
    cursor: pointer;
    font-size: larger;
    font-weight: 900;
    color: grey;
    margin-right: 5px;
  }
  .firstPart .todos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .firstPart .todos .todo {
    margin-top: 0.8em;
    width: 20em;
    height: 2em;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 5px;
  }
  .firstPart .todos .todo .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .firstPart .todos .todo .left p {
    margin-left: 3px;
    font-size: medium;
    font-weight: 700;
    font-style: normal;
    color: grey;
  }